<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error Page</title>
    <link rel="stylesheet" href="css/Error.css">
    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="css/footer.css">
</head>
<body>
    <%-include('../includes/header.ejs',{user : user})%>
    <div class="error-container">
        <h1>Book Issued and Transaction Recorded Successfully</h1>
        <a href="/issueBook">Issue another book?</a>
    </div>
    <%-include('../includes/footer.ejs')%>
</body>
</html>
