<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Library Management System</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="css/Home.css" />
    <link rel="stylesheet" href="css/header.css" />
    <link rel="stylesheet" href="css/footer.css" />
  </head>
  <body>
    <%-include('../includes/header.ejs',{path : path,user : user})%>

    <div class="outer-wrapper">
      <%-include('./Middlesection.ejs',{user : user})%>
    </div>
    <%-include('./RecentBooks.ejs',{user : user})%>
    <%- include('../includes/footer.ejs')%>
    <script>
      document
        .getElementById("accountButton")
        .addEventListener("click", function () {
          var accountDetails = document.getElementById("accountDetails");
          accountDetails.style.display =
            accountDetails.style.display === "block" ? "none" : "block";
        });
    </script>
  </body>
</html>
