<div class="hero2">
  <main>
    <div class="library-info">
      <div class="description">
        <p>
          <h1 class="heading">Welcome to Our Online Library</h1>
          We offer a vast collection of books on various topics to cater to the
          diverse interests of our readers. 
          <p>
          Whether you're looking for fiction, non-fiction, science, or any other
          genre, you'll find something that suits your taste. </p>
          <p>
          Explore our collection and embark on a journey of knowledge and
          imagination.
          </p>
        </p>
      </div>
      <img src="images/homePage.jpg" alt="Library Image" />
    </div>
  </main>
</div>
