<div class="hero3">
  <h1 class="heading">Checkout our recently added books :</h1>
  <div id="scroll-container">
    <div class="innerscroll">
      <div class="element"><p>Dune</p></div>
      <div class="element"><p>1984</p></div>
      <div class="element"><p>Harry Potter and the Philosophers Stone</p></div>
      <div class="element"><p>Let us C, a book for programming enthusiats</p></div>
      <div class="element"><p>Computer Networking: A Top-Down Approach</p></div>
    </div>
  </div>
</div>
